<nav>
  <ul>
    <li class="{{ current == 'calendar' ? 'current' : '' }}"><a href="{{ path('calendar') }}">Per day view</a></li>
    <li class="{{ current == 'event_list' ? 'current' : '' }}"><a href="{{ path('event_list') }}">Event list view</a></li>
  </ul>
</nav>
