{% extends "::base.html.twig" %}

{% block title %}www2012 program | Logged in{% endblock %}

{% block header %}
  {% include '::headerNav.html.twig' with { 'current': 'change_password' } %}
{% endblock %}

{% block content %}
  {{ parent() }}
  {% block fos_user_content %}
  <div id="main">
    <div class="topbar">Change password</div>
    <div class="user_form">
      <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        {{ form_widget(form) }}
        <p><input type="submit" value="Change Password" /></p>
      </form>
    </div>
  </div>
  {% endblock fos_user_content %}
{% endblock %}
