{% extends "W4HCalendarBundle:Default:baseFilter.html.twig" %}

{% block title %}www2012 program | Event list view{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% render "W4HCalendarBundle:CSS:renderSymbol" %}
{% endblock %}

{% block topbar %}
  <div class="date">
    <h1>From {{ from|date("F d, Y") }} to {{ to|date("F d, Y") }}</h1>
  </div>
{% endblock %}

{% block calendar %}
  <div class="content">
    {% include 'W4HCalendarBundle:Default:eventListContent.html.twig' with { 'event_tasks': event_tasks } %}
  </div>
{% endblock %}
