{% extends "::base.html.twig" %}

{% block content %}

<div id="calendar">

  <div class="column times">
    <label>Times</label>
    <ul>
      <li class="unit"><span>00h00</span></li>
      <li class="unit"><span>00h15</span></li>
      <li class="unit"><span>00h30</span></li>
      <li class="unit"><span>00h45</span></li>
      <li class="unit"><span>01h00</span></li>
      <li class="unit"><span>01h15</span></li>
      <li class="unit"><span>01h30</span></li>
      <li class="unit"><span>01h45</span></li>
      <li class="unit"><span>02h00</span></li>
      <li class="unit"><span>02h15</span></li>
      <li class="unit"><span>02h30</span></li>
      <li class="unit"><span>02h45</span></li>
      <li class="unit"><span>03h00</span></li>
      <li class="unit"><span>03h15</span></li>
      <li class="unit"><span>03h30</span></li>
      <li class="unit"><span>03h45</span></li>
      <li class="unit"><span>04h00</span></li>
    </ul>
  </div>

  <div class="column room">
    <label>Salle X</label>
    <ul>
      <li class="unit"><span class="unitx2">A</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx3">B3</span><span class="unitx2">B2</span><span class="unitx5">B5</span></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx6">C</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx2">D</span></li>
      <li class="unit"></li>
    </ul>
  </div>

  <div class="column room">
    <label>Salle X</label>
    <ul>
      <li class="unit"><span class="unitx15">A</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx6">B</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx1">C</span></li>
      <li class="unit"><span class="unitx4">D</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
    </ul>
  </div>

  <div class="column room">
    <label>Salle X</label>
    <ul>
      <li class="unit"><span class="unitx4">A</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx4">B</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"><span class="unitx4">C</span></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
      <li class="unit"></li>
    </ul>
  </div>

</div>
{% endblock %}

