{% extends "W4HCalendarBundle:Default:baseFilter.html.twig" %}

{% block title %}www2012 program | mailing view{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% render "W4HCalendarBundle:CSS:renderSymbol" %}
{% endblock %}

{% block topbar %}
  <div class="date">
    <h1>Mailing list</h1>
  </div>
{% endblock %}

