{% extends "W4HCalendarBundle:Admin:base.html.twig" %}

{% block header %}
  <nav>
    {% render "W4HCalendarBundle:Admin:menu" with {'current': current is defined ? current : ''} %}
  </nav>
{% endblock %}

