header, aside, #main #calendar .country, #main #calendar .role { display: none !important; }

#main .topbar,
#main #calendar
{
    font-family: Arial;
    display: block;
    position: relative;
    page-break-after: always;
    color: #000;
    font-size: 15pt;
}

/* Main */
#main
{
  z-index: 10;
  display: block;
  overflow: hidden;
  height: 96%;
}

/* TopBar */
#main .topbar
{
  height: 42px;
  line-height: 40px;
  padding-left:12px;
  white-space: nowrap;
  border-bottom: 1px solid #BBB;
  position: relative;
  z-index: 6;
  -webkit-box-shadow: 0 1px 2px #eaeaea;
  -moz-box-shadow: 0 1px 2px #eaeaea;
  box-shadow: 0 1px 2px #eaeaea;
  background: #FEFEFE;
  background: -moz-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEFEFE),color-stop(100%,#F0F3F4));
  background: -webkit-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
  background: -o-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
  background: -ms-linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe',endColorstr='#f0f3f4',GradientType=0);
  background: linear-gradient(top,#FEFEFE 0,#F0F3F4 100%);
}

/* Date */
#main .topbar .date
{
  position: relative;
  line-height: 42px;
  width: 144px;
  float: left;
}

#main .topbar .date h1
{
  color: #555;
  text-shadow: 1px 1px #FFF;
  margin: 0 10px;
  font-weight: bold;
  width: 80px;
  text-align: center;
}

/* Calendar */
#main #calendar
{
  width: 100%;
  height: 94%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #FFF;
}

/* Scrollzone */
#main #calendar .scrollzone
{
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  height: auto;
  min-height: 100%;
  outline: none;
  margin-bottom: 8px;
}

#main #calendar .scrollzone .columns
{
  margin-top: 1px;
}

/* Column */
#main #calendar .column
{
  float: left;
  position: relative;
  color: #444;
  font-size: 12px;
}

/* Times */
#main #calendar .column.times
{
  width: 80px;
  height: auto;
  min-height: 100%;
  background: #DDD;
  margin-right: 1px;
  border-right: 1px solid #BBB;
  box-shadow: 1px 0 2px #EAEAEA;
  -moz-box-shadow: 1px 0 2px #EAEAEA;
  -webkit-box-shadow: 1px 0 2px #EAEAEA;
}

#main #calendar .column.times > ul > li > div
{
  font-size: 10px;
  position: absolute;
  top: -6px;
  padding: 2px;
  right: 2px;
  width: 80px;
  text-align: right;
  color: #555;
  display: none;
}

#main #calendar .column.times > .header > label
{
  text-indent: -9999px;
}

#main #calendar .column.times > ul > li.hour > div
{
  font-weight: bold;
  font-size: 10px;
  color: #000;
  display: block;
  text-shadow: 1px 1px 1px #FFF;
}

#main #calendar .column > .header
{
  padding: 2px;
  height: 24px;
  display: block;
  margin-bottom: 8px;
  position: relative;
  z-index: 69;
}

#main #calendar .column > .header > label
{
  text-shadow: 1px 1px 1px #FFF;
  text-align: center;
  font-weight: bold;
  display: block;
  font-size: x-small;
  overflow: hidden;
  height: 24px;
}

/* Room */
#main #calendar .column.room
{
  margin: 1px 1px 0;
}

#main #calendar .column.room:hover
{
  background: #FAFAFA;
}

#main #calendar .column.room > .header
{
  border: 1px solid #BBB;
  background: #DDD;
}

#main #calendar .column.room:hover > .header { background: #CCC; }
#main #calendar .column.room:hover > .header > label { color: #000; }

#main #calendar .column > ul > li
{
  border-top: 1px dotted #DDD;
  padding: 0;
  margin: 0;
  position: relative;
}

#main #calendar .column > ul > li.hour
{
  border-style: solid;
}

#main #calendar .column.room > ul > li:hover,
#main #calendar .column.room > ul > li:focus,
#main #calendar .column > ul > li.unit.over
{
  outline:0;
  border-color:rgba(82, 168, 236, 0.8);
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(82, 168, 236, 0.6);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 2px rgba(82, 168, 236, 0.6);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 2px rgba(82, 168, 236, 0.6);
}

#main #calendar .column > ul > li:last-child
{
  border-left: none;
  border-right: none;
}

/* Location .data box  */
#main #calendar .column > .header > .data
{
  top: 30px;
  left: -1px;
  width: 350px;
}

#main #calendar .column > .header > .data > div
{
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEE;
}

#main #calendar .column > .header > .data > div:last-child
{
  border: none;
}

#main #calendar .column > .header > .data > div > strong
{
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  display: block;
  text-shadow: 1px 1px 1px #FFF;
  margin: 0 8px 4px 8px;
}


/* .data box */
#main #calendar .data
{
  position: absolute;
  z-index: 99;
  height: auto;
  border: 1px solid #BBB;
  background: #F5F5F5;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
}

#main #calendar :hover > .data
{
  visibility: visible;
  opacity: 1;
}

#main #calendar .data > .wrapper
{
  max-height: 240px;
  overflow: auto;
}

#main #calendar .data > .wrapper > div
{
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEE;
}

#main #calendar .data > .wrapper > div > strong
{
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  display: block;
  text-shadow: 1px 1px 1px #FFF;
  margin: 0 8px 4px 8px;
}

#main #calendar .data > .wrapper > div.description > div
{
  font-size: 11px;
  border: 1px solid #CCC;
  padding: 4px;
  margin: 0 8px;
  background: #FFF;
}

#main #calendar .data > .wrapper > div.description > div p
{
  margin: 4px 0;
}

#main #calendar .data > .wrapper > div:last-child
{
  border: none;
}

#main #calendar .data ul
{
  padding: 4px 10px;
  overflow: auto;
}

#main #calendar .data ul > li
{
  float: left;
  line-height: 12px;
  margin-right: 8px;
  min-width: 16px;
}

#main #calendar .data ul > li.country
{
  float: right;
}

#main #calendar .column > .header > .data > div.equipment > ul > li
{
  text-indent: -9999px;
  display: block;
  width: 16px;
}

#main #calendar .column.room .task > p
{
  padding: 0;
  font-size: x-small;
  text-align: center;
  height: 100%;
  overflow: hidden;
}

/* Task .data box  */
#main #calendar .column.room .task .data
{
  left: 98px;
  top: -2px;
  width: 380px;
  height: auto;
}

#main #calendar .column.room .task .data > header,
#main #calendar .column.room .task .data > .context
{
  background: #CCC;
}

#main #calendar .column.room .task .data > header
{
  border-bottom: 1px solid #BBB;
  height: 48px;
  position: relative;
}

#main #calendar .column.room .task .data > header > .symbol
{
  float: left;
  margin: 4px;
}

#main #calendar .column.room .task .data > header > label
{
  display: block;
  font-size: 13px;
  font-weight: bold;
  width: 328px;
  padding: 4px;
  line-height: 14px;
}

#main #calendar .column.room .task .data > header > p
{
  position: absolute;
  height: 16px;
  line-height: 16px;
  display: block;
  font-size: 10px;
  padding: 4px 8px;
}

#main #calendar .column.room .task .data > header > p.starts_at
{
  top: 0;
  right: 0;
}

#main #calendar .column.room .task .data > header > p.ends_at
{
  bottom: 0;
  right: 0;
}

#main #calendar .column.room .task .data > header > p.starts_at,
#main #calendar .column.room .task .data > header > p.ends_at
{
  background: #888;
  color: #FFF;
  border-left: 1px solid #BBB;
  font-weight: bold;
}

#main #calendar .column.room .task .data > .context
{
  border-top: 1px solid #BBB;
  padding: 4px;
}

#main #calendar .column.room .task .data > .context  span
{
  width: 10px;
  height: 10px;
}

#main #calendar .column.room .task .data > .context a
{
  text-decoration: none;
  color: #444;
}

#main #calendar .column.room .task .data > .context a:hover
{
  text-decoration: underline;
}

/* Child task */
#main #calendar .column.room > ul > li > .task > .task
{
  height: 24px;
  opacity: 0.6;
  border: 1px solid #FFF;
}

/* Event list task */
#main #calendar .content
{
  height: 94%;
  padding: 1% 4%;
  margin: 0;
}

#main #calendar .content h2
{
  color: #5EA2DA;
  border-bottom: 1px solid #5EA2DA;
  font-size: 20px;
  margin-top: 16px;
  font-weight: bold;
  padding: 3px 0;
}

#main #calendar .content .hour
{
  padding-left: 18px;
  margin: 10px 0 20px 0;
}

#main #calendar .content .hour > ul > li
{
  margin: 8px 16px;
  padding: 2px 0;
  overflow: auto;
  clear: both;
}

#main #calendar .content .time
{
  color: #DE1981;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

#main #calendar .content > *
{
  line-height: 14px;
  font-size: 12px;
}

#main #calendar .content .event,
#main #calendar .content .activity_type
{
  float: left;
  margin: 4px 6px;
}

#main #calendar .content .name
{
  text-shadow: 1px 1px 1px #888;
  margin-bottom: 2px;
  font-size: 16px;
}

#main #calendar .content .location
{
  color: #444;
  font-style:italic;
}

#main #calendar .content .event,
#main #calendar .content .location,
#main #calendar .content .ends_at,
#main #calendar .content .description,
#main #calendar .content .presentation,
#main #calendar .content .owners
{
  margin: 4px 0 0 18px;
}

#main #calendar .presentation > ul > li,
#main #calendar .content .owners > ul > li
{
  margin: 3px 8px;
  padding: 2px 0;
  line-height: 16px;
  clear: both;
  overflow: hidden;
}

#main #calendar .content .owners > ul > li > span.person,
#main #calendar .content .owners > ul > li > span.role
{
  margin-left: 8px;
  float: left;
}

#main #calendar .content .owners > ul > li > span.country > .symbol
{
  margin-top: 3px;
}

/* Presentations */
#main #calendar .presentation .presenter
{
  font-weight: bold;
  font-style: italic;
}

#main #calendar .presentation .paper_number
{
  color: #888;
}

#main #calendar .presentation .paper_title
{
  font-weight: bold;
}

#main #calendar .presentation .paper_authors
{
  font-style: italic;
}

/* vCal icon */
.vcal,
li.vcal > a
{
  border: 0;
  background: url('/images/icons-symbols.png') -32px -576px no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  text-indent: -9999px;
}

li > a.vcal
{
  float: left;
  margin: 2px;
}

/* Description styles */
.description b
{
  font-weight: bold;
}

.description i
{
  font-style: italic;
}

.description  u
{
  text-decoration: underline;
}
